<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485295735872-u9i0jt5hut0c48pfig1lkgr9d78li9qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485295735872-u9i0jt5hut0c48pfig1lkgr9d78li9qn</string>
	<key>API_KEY</key>
	<string>AIzaSyC7_5oU5nueTpoSZND3FHSRyw3h_48tbQM</string>
	<key>GCM_SENDER_ID</key>
	<string>485295735872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elcom.skConnect</string>
	<key>PROJECT_ID</key>
	<string>sk-connect-bc380</string>
	<key>STORAGE_BUCKET</key>
	<string>sk-connect-bc380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485295735872:ios:c87f65a18e701cfc6b4ba5</string>
</dict>
</plist>